body{
    margin: 0;
    padding: 0;
    background-color:  #2B2D42;
}

.alinhar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 12vw;
    border-radius: 5px;
    background-color: #484C69;
    border: 3px solid #9932cc;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

.estiloH2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 3vw;
    background-color: #9932cc;
    color: white;
    border-radius: 5px;
}

#estilo-input{
    display: flex;
    justify-content: center;
}

#input{
    width: 15vw;
    height: 24px;
    margin-top: 10px;
    border-radius: 5px;
    padding-right: 2px;
    font-size: 15px;
    padding-left: 5px;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    margin: 0;
}

#btn-add{
    width: 9vw;
    height: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: rgb(27, 180, 103);
    color: white;
    cursor: pointer;
}

#container-nome{
    width: 35vw;
    height: 28vw;
    border-radius: 5px;
    background-color: #484C69;
    border: 3px solid #9932cc;
    margin-left: 30px; 
    color:white
}

#listaNome{
    display: flex;
    flex-wrap: wrap;
    height: 18vw;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    padding-top:2vw ;
 
}

.Item{
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 7px;
}

.estiloBtn{
    display: flex;
    align-items:center;
    flex-direction: column-reverse;  
    padding-bottom: 7px;
}

.formatNameBtn{
    width: 9vw;
    height: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: rgb(27, 180, 103);
    color: white;
    cursor: pointer;
}

.btnclear{
    width: 9vw;
    height: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
} 

.container-formatar{
    margin-top: 20px;
    margin-right:  30px;
    width: 55vw;
    height: 43vw;
    border-radius: 5px;
    background-color: #484C69;
    border: 3px solid #9932cc;
}

.divEstiloNomeFormatado{
    display: flex;
    justify-content: center;
    margin: 20px;;
}

.nomeFormatado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 4vw;
    background-color: #9932cc;
    color: white;
    border-radius: 5px;
}

#listaFormatarNome{
    display: flex;
    flex-wrap: wrap;
    height: 29vw;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    padding-top:2vw ;
}

.divItem{
    display: flex;
    justify-content: space-around;
    font-size: 20px
};

.BtnExcluirLi{
    width: 20px;
    height: 10px;
    background-color: #9932cc;
}

@media (max-width: 600px) {

#container-input{

};

#container-nome{

}

.container-formatar{

};

}